<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<!--<add name="BET" connectionString="metadata=res://*/BETContext.csdl|res://*/BETContext.ssdl|res://*/BETContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MERA001009\SQLEXPRESS;initial catalog=BET-eCommerce;persist security info=True;user id=bet;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="BET" connectionString="Server=MERA001009\SQLEXPRESS;initial catalog=BET-eCommerce;user id=bet;password=bet@software;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="BET" connectionString="metadata=res://*/BETContext.csdl|res://*/BETContext.ssdl|res://*/BETContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MERA001009\SQLEXPRESS;initial catalog=BET-eCommerce;persist security info=True;user id=bet;password=bet@software;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>