
@{
    ViewBag.Title = "Products";
}

<br/>

<a href="/Product/Add" class="btn btn-primary">Add Product</a>

<br/>
<br/>

<div class="jumbotron">  

    
    <table class="table table-striped">
        <thead>
            <tr style="font-weight:bold">
                <td>Product Name</td>
                <td>Product Description</td>
                <td>Product Price</td>
                <td>Actions</td>
            </tr>
        </thead>
    </table>

</div>
